[submodule "hazel/vendor/spdlog"]
	path = hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "hazel/vendor/GLFW"]
	path = hazel/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "hazel/vendor/glm"]
	path = hazel/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "hazel/vendor/imgui"]
	path = hazel/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
	branch = docking
[submodule "Hazel/Vendor/yaml-cpp"]
	path = Hazel/Vendor/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp
